{% extends 'profilebase.html' %}
{% block title %}Invite{% endblock %}
{%  block location %} Send invitation {% endblock %}

{% block link_extension %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/book_index.css' %}"/>

{% endblock %}

{% block content %}
    <div class="panel panel-success">
            <div class="panel-heading">Success!</div>
            <div class="panel-body">
                Invitation has been sent
            </div>
        </div>

        <a href="{% url 'books:users' %}" class="btn btn-primary btn-lg btn-block">
            Continue <span class="glyphicon glyphicon-hand-right"></span>
        </a>
{% endblock %}